# ===== Gradle =====
.gradle/
build/

# ===== Local config =====
local.properties

# ===== Logs / OS =====
*.log
.DS_Store

# ===== Android Studio / IntelliJ =====
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# ===== Android build outputs =====
*.apk
*.aab
output-metadata.json
captures/
.externalNativeBuild/
.cxx/

# ===== Keystore (DO NOT COMMIT) =====
*.jks
*.keystore

# ===== Google Services =====
google-services.json

# ===== Android profiling =====
*.hprof
